body {
    background-color: rgb(180, 180, 180);
    margin: 1%;
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.navbar {
    background-color: rgba(85, 85, 85, 0.822);
    overflow: auto;
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
    border-color: #000;
    margin-left: 20%;
    margin-right: 20%;
}
.logo {
    width: 2cm;
    height: 2cm;
    float: right;
}
.navbar a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.navbar a:hover {
    background-color: #000;
}
.active {
    background-color: #04AA6D;
}
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}
.search {
    background-color: gray;
    border: solid 2px white;
    border-radius: 2px;
    float: right;
}
.logo {
    position: fixed;
    left: 1px;
}
.main_container {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(85, 85, 85, 0.815);
    text-align: left;
    text-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    margin-top: 20px;
}
.main_container hr {
    width: 80%;
    align-self: center;
}
.main_text_container {
    margin-left: 10%;
    margin-bottom: 20px;
}
.title {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 235, 59);
    text-shadow: rgba(85, 85, 85, 0.822);
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 5px 10px black;
}

.transition_block {
    margin: -1%;
    position: fixed;
    background-color: #000;
    height: 100%;
    width: 100%;
    transition: width 1s;
}