body {
    background-color: rgb(180, 180, 180);
    margin: 1%;
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.navbar {
    background-color: rgba(85, 85, 85, 0.822);
    overflow: auto;
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
    border-color: #000;
    margin-left: 20%;
    margin-right: 20%;
}
.logo {
    width: 2cm;
    height: 2cm;
    float: right;
}
.navbar a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.navbar a:hover {
    background-color: #000;
}
.active {
    background-color: #04AA6D;
}
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}
.search {
    background-color: gray;
    border: solid 2px white;
    border-radius: 2px;
    float: right;
}
.logo {
    position: fixed;
    left: 1px;
}

.main_container {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(85, 85, 85, 0.815);
    text-align: left;
    text-shadow: 5px 5px 10px black;
    border-radius: 20px;
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    margin-top: 20px;
}
.main_container hr {
    width: 80%;
    align-self: center;
}
.main_text_container {
    margin-left: 10%;
    margin-bottom: 20px;
}
.title {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(76, 0, 255);
    text-shadow: rgba(85, 85, 85, 0.822);
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 5px 10px black;
}
hr {
    border-color: rgba(0, 0, 0, 0);
    border-top: yellow solid 4px;
}

.transition_block {
    margin: -1%;
    position: fixed;
    background-color: #000;
    height: 100%;
    width: 0%;
    transition: width 1s;
}

.news_grid {
    margin: 10px;
    display: grid;
    grid-template-areas:
    'news_h contact_h structure_h'
    'news1 contact struct' 
    'news2 contact struct';
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: left;
    margin-left: 10%;
}
.news_item1 {
    grid-area: news1;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.news_item2 {
    grid-area: news2;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.contact {
    grid-area: contact;
    background-color: rgb(151, 151, 151);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.structure {
    grid-area: struct;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.news_h {
    text-align: center;
    color: black;
}
.contact_h {
    text-align: center;
    color: black;
}
.structure_h {
    text-align: center;
    color: black;
}



.house_location {
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .news_grid {
        grid-template-areas:
        'news_h'
        'news1'
        'news2'
        'contact_h'
        'contact'
        'structure_h'
        'struct';
    }
    .house_location {
        border-radius: 20px;
        width: 90%;
    }
    .navbar {
        width: 80%;
        margin-left: 10%;
    } 
}