body {
    background-color: rgb(180, 180, 180);
}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    float: center;
}
  
.navbar a:hover {
    background-color: #000;
}
  
.active {
    background-color: #04AA6D;
}
  
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}
.search {
    background-color: gray;
    border: solid 2px white;
    border-radius: 2px;
    position: relative;
    right: 1px;
}
.logo {
    position: fixed;
    left: 1px;
}