body {
    background-color: rgb(180, 180, 180);
}
.title_bar {
    background-color: rgb(92, 92, 92);
    position: fixed;
    height: 10%;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    align-items: center;
    justify-content: center;
}
.title {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}